.env
/resume/avatar.jpg
/resume/script.js

# Local .terraform directories
**/.terraform/*

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variables (if they contain secrets)
*.tfvars
*.auto.tfvars

# Crash log files
crash.log
crash.*.log

# Exclude sensitive files
*.pem
*.key

# Terraform lock file - consider keeping this in version control
.terraform.lock.hcl

.DS_Store